![imagem%20unesp%20rosana.jpg](attachment:imagem%20unesp%20rosana.jpg)
# Entrada e saída de dados

Este notebook conterá nossas referências sobre entrada e saída de dados. O pandas pode ler uma variedade de tipos de arquivos usando seus métodos pd.read_. Vejamos os tipos de dados mais comuns:

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [ ]:
pd.read

In [2]:
df = pd.read_csv('exemplo')
d

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
data = aneel
data2 = ibge
data.join(data2)

### Saída de dados tipo CSV

In [3]:
df.to_csv('exemplo.csv',index=False)

## Excel

Pandas podem ler e escrever arquivos do Excel, tenha em mente, isso só importa dados. Não fórmulas nem imagens, lembrando que imagens ou macros podem bugar o método.

### Entrada via Excel

In [4]:
pd.read_excel('Exemplo_Excel.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Saída via Excel

In [5]:
df.to_excel('Exemplo_Excel.xlsx',sheet_name='Sheet1')

In [ ]:
pd.read

## HTML

Você pode precisar instalar htmllib5, lxml e BeautifulSoup4. No seu terminal / prompt de comando, execute:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4
    
Em seguida, reinicie o Jupyter Notebook. 
(Ou use instalação de pip se não estiver usando a Distribuição de Anaconda)
Pandas podem ler guias de tabelas fora de html. Por exemplo:

### Entrada HTML

A função Pandas read_html irá ler tabelas fora de uma página da Web e retornar uma lista de objetos DataFrame:

In [13]:
df = pd.read_html('https://globoesporte.globo.com/futebol/brasileirao-serie-a/')

In [17]:
df1 = pd.DataFrame(df)

____

In [20]:
df

[   Classificação       Unnamed: 1  Unnamed: 2
 0              1  Atlético-MG CAM           2,
      P  J  V  E  D  GP  GC  SG     %  ÚLT. JOGOS
 0   13  6  4  1  1   9   6   3  72.2         NaN
 1   11  6  3  2  1  12   6   6  61.1         NaN
 2   11  6  3  2  1   9   4   5  61.1         NaN
 3   11  6  3  2  1   8   3   5  61.1         NaN
 4   10  6  3  1  2   8   6   2  55.6         NaN
 5   10  6  3  1  2   9   9   0  55.6         NaN
 6   10  6  2  4  0   7   5   2  55.6         NaN
 7    9  6  2  3  1   7   3   4  50.0         NaN
 8    8  5  2  2  1  10   7   3  53.3         NaN
 9    8  6  2  2  2   6   6   0  44.4         NaN
 10   8  6  2  2  2   6   8  -2  44.4         NaN
 11   7  6  2  1  3   3   3   0  38.9         NaN
 12   7  6  2  1  3  10  11  -1  38.9         NaN
 13   6  5  2  0  3   6   8  -2  40.0         NaN
 14   6  5  1  3  1   6   9  -3  40.0         NaN
 15   5  6  1  2  3   7   8  -1  27.8         NaN
 16   5  5  1  2  2   2   3  -1  33.3         NaN
 17   5  6  1  2  3   3   9  -6  27.8         NaN
 18   3  6  0  3  3   4  10  -6  16.7         NaN
 19   2  6  0  2  4   3  11  -8  11.1         NaN]